*{
    margin: 0px;
    padding: 0px;
}

.Head{
    text-align: center;
    background-color: rgb(129, 247, 11);
    color: rgb(28, 103, 103);
}
.form{
    margin: 10px;
    
    
}
.form-input{
    background-color: aquamarine;
    text-align: justify;
    padding-bottom: 10px;
}
.submit{
    background-color: rgb(18, 142, 100);
}
.submit:hover{
    background-color: rgb(182, 16, 16);
}