*{
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
}

label{
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}
.student-info{
    background-color: aquamarine;
    font-size: 20px;
    
}
.subject{
    font-size: 20px;
    padding: 10px;
}